
.onechamp{
  font-family: 'Dancing Script', cursive;
   color: #feb518;
}
.fontroboto { font-family: 'Roboto Slab', serif;}
.row{
	width: 100%;
}
/*<!--css chung-->*/
.a{
	width: 80px;
	height: 80px;
	background-color: #e7440e;
	border-radius: 50%;

}
.a i{
	line-height: 80px;
	font-size: 30px;
	margin-left: 20px;
	color: #fff;
}
hr{
	background-color: #fff;
}
.tron {
    width: 30px;
    height: 30px;
    background-color: #000;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
}
/*<!-- het css chung-->*/
/*<!--navbar-->*/
a.navbar-brand {
    margin-left: 60px;
}
.bg-light{
	background-color: #fff;
}
li.nav-item {
    margin-left: 30px;
}
ul.navbar-nav {
	margin-left: 350px;
}
/*<!-- het navbar-->*/
/*<!--slide-->*/
.slide li{
	width: 9px;
	height: 9px;
	border-radius: 5px;
	background-color: #e7440e;
}
/*<!--het slide-->*/

/*<!--khoi1-->*/
.khoi1{

}
.khoi1 .a .far{
	margin-left: 25px;
}
.khoi1 .fontdancing{
	text-align: center;
	margin-top:60px;
}
.khoi1 .ahihi{
	margin: 40px auto;
	text-align: center;
}
.khoi1 .a{
	
	margin: 70px auto;
}
.khoi1 p{
	text-align: center;

}

/*<!--het khoi1-->*/

/*<!--khoi2-->*/
.khoi2 .tieude {
	margin-top:100px;
    text-align: center;
    font-family: Satisfy;
        color: #feb518;
}
.khoi2 p{
	margin: 50px auto;
	text-align: center;
}


/*<!--het khoi2-->*
/
/*<!--khoi3-->*/
.khoi3 .container{
	margin: 80px auto;
}
.khoi3 .a .far{
	margin-left: 23px;
}
.khoi3 .a .fa-camera{
	margin-left: 25px;
}
/*<!--het khoi3-->*/

/*<!--khoi4->*/
.khoi4 .container{
	background-color: #e7440e;
	color: #fff;
}
.khoi4 p{
	text-align: center;
	margin:40px 0;
}
.khoi4 h4{
	margin-top:80px;
	text-align: center;
}
.khoi4 .btn{
	border-radius: 15px;

}
.khoi4 .tho{
	float: right;
}
.khoi4 .ekko{
	padding: 0 0;
	margin-bottom: 80px;

}
/*<!--het khoi4-->*/
/*<!--khoi5->*/
.khoi5 .container{
	background-color:#EEEEEE;

}
.khoi5 .ekkotop{
	margin-top:100px;
	margin-bottom: 50px;
}
.khoi5 h5{
	text-align: center;
}
.khoi5 h4{
	text-align: center;

}
.khoi5 p{
	text-align: center;

}
.khoi5 img{
	border-radius: 8px;
	margin-bottom: 40px;
	margin-top:40px;
}
.khoi5 .ekko{
	margin-bottom: 100px;
}
/*<!--het khoi5-->*/
/*<!--footertop->*/
.footertop .container{
	background-color: #333333;
	color: #fff;
}
.topekko{
	margin: 80px 0;
	padding-left: 40px;
}
.footertop .fas{
	line-height: 30px;
}
.footertop .fab{
	line-height: 30px;
}
/*<!--het footertop-->*/
/*<!--footerbottom->*/
.footerbottom .container{
	background-color: #000;
	color: #fff;
}
.col-sm-6.ekko p {
    line-height: 45px;
    margin-left: 60px;
}
.col-sm-6.ekko1 {
    line-height: 45px;
}
.footerbottom td {
    padding-right: 40px;
}
.margin-0 {
	margin: 0 !important;
}
.padding-0 {
	padding: 0 !important;
}
/*<!--het footerbottom-->*/
@media (max-width: 769px) and (min-width:376px ){
	.
}