
img {
  max-width: 100%;
}
.filtr-item {
    padding: 1rem;
}
/* Filter controls */
.simplefilter{
  padding-left: 0;
}
.simplefilter li{
    color: #000;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    padding: 1rem 2rem;
}
.simplefilter li {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
}
.simplefilter li.active {
    background-color: #e7440e;
    color: #fff;
}
/*.filtr-container,
.color-container-1,
.color-container-2,
.color-container-3,
.color-container-4 {
  transition: height 500ms ease-out;
}
*/